body > header h1 {
  font-size: 1.8em !important;
  font-weight: bold;
}

body > header h2 {
  font-size: .9em !important;
}


#{headings()}{
  @extend .heading;
  text-rendering: optimizelegibility;
  margin-bottom: 0em !important;
  font-weight: bold;
}

h1 {
  font-size: 1.8em !important;
  line-height: 1.5em;
}

h2, section h1 {
  font-size: 1.3em !important;
padding-bottom: .8em;
}
h3, section h2, section section h1 {
  font-size: 1.1em !important;
}
h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}
h5, section h4, section section h3 {
  font-size: .8em;
}
h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

article a{
text-decoration:none;
}

.entry-title a:hover{
text-decoration:none;
}

//#tweets a[href*="status"]:first-child {
//border-bottom:0px !important;
//}

.sidebar a{
text-decoration:none;
}

a[rel="footnote"], a[rev="footnote"] {
	vertical-align: super !important;
	text-decoration: none;
}

.footnotes {
	font-size:0.8em !important;
}

a[rev="footnote"] {
	display:block;
	text-align:right;
	margin-top:-3em;
}
